###################
## Visual Studio ##
###################
.vscode

###################
## Intellij IDEA ##
###################
.idea
*.iml
*.ipr

###################
## MAC Crap      ##
###################
.DS_Store
._.DS_Store

